
#questions, #foot {
    text-align: center;
    background-image: url("../img/bg.jpg");
}

h1 {
    text-align: center;
    background-image: url("../img/bg1.jpg");
}

.correct {
    color: green;
    font-size: 18px;
}

.incorrect {
    color: red;
    font-size: 18px;
}