body {
    background-color: #C7F2F2 !important;
    color:gray;
}

header, main, nav, footer {
    text-align: center;
}

nav a { /*links within "nav" container */
    padding:15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none; /*remove underline */
    color: black;     /* by default, links are blue*/
}

nav a:hover { /*pseudo class */
    border-bottom: 2px red solid;
    font-size: 2em;
    transition: .9s; /*transition effect */
}

#me, #welcomeText {
    float:left;
}

footer {
    clear: left;
}