body {
    background-color: black;
    color:yellow;

    
}

main, header{
    text-align: center;
    
}
#fall {
    border-bottom-left-radius:50px;
}
#winter {
    border-bottom-right-radius: 50px;
    
}
#spring{
    border-top-left-radius: 50px;
}
#summer{
    border-top-right-radius: 50px;
}